<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | Smart Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="login-container">
    <h2>Welcome to Smart Home</h2>

    <div id="form-toggle">
      <button onclick="showLogin()">Login</button>
      <button onclick="showSignup()">Signup</button>
    </div>

    <form id="loginForm" class="auth-form">
      <input type="email" id="loginEmail" placeholder="Email" required />
      <input type="password" id="loginPassword" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    

    <form id="signupForm" class="auth-form" style="display: none;">
      <input type="text" id="signupName" placeholder="Full Name" required />
      <input type="email" id="signupEmail" placeholder="Email" required />
      <input type="password" id="signupPassword" placeholder="Create Password" required />
      <button type="submit">Signup</button>
    </form>
    

    <!-- <p style="text-align:center; margin-top:20px;">
      <a href="{{ url_for('home') }}">← Back to Home</a>
    </p> -->
  </div>

  
<script src="/static/login.js"></script>


</body>
</html>
